# **Working with the ALTER DDL command**

1. _Removing a constraint to a column_
2. __Adding_Â a constraint to a column_
3. _Changing the data type of a column_
4. _Removing a column_
5. _Adding a column_

## **Requirements**

In [ ]:
create database Argos_Adventurers

In [ ]:
-- My First Comment

-- CONSTRAINTS: Unique, Primary Key, Foreign Key, Check, Default, Not NUll
-- CUSTOMERS TABLE SCHEMA

use Argos_Adventurers


create table customers(
    CustomerID INT Not Null, 
    Name VARCHAR(100) Not Null, 
    Address VARCHAR(100) Not Null, 
    Age INT, 
    PhoneNumber CHAR(11) Not Null
constraint PrimaryKey_Customers Primary Key(CustomerID)
constraint Check_i Check(Age > 10 and Age < 100)
)

create table products(
    Id INT Primary Key,
    Name VARCHAR(100) Not Null,
    Price DECIMAL(5, 2) Check(Price > 10.00) Not Null,
    Quantity INT NOT NULL
)


create table orders(
    Orderid INT PRIMARY KEY,
    IdCus INT,
    Productid INT,
    Quantity INT NOT NULL,
    TotalAmount INT NOT NULL

-- (1) Making Customer ID in Orders table a FOREIGN KEY
Constraint CustomerFK 
Foreign Key (IdCus) 
References Customers(CustomerID),

-- (2) Making ID from the products table a FOREIGN KEY in Orders table
Constraint ProductFK 
Foreign Key (Productid) 
References Products(Id)
)

- **Removing a constraint to a column**

In [ ]:
-- (1) Removing the CHECK constraint for the Age in Customers Table

use Argos_Adventurers

Alter Table Customers
Drop Constraint CK__customers__Age__37A5467C

In [ ]:
-- (2) Removing Foreign Key Constraint for Customers in the Orders Table

use Argos_Adventurers

Alter Table orders
Drop Constraint CustomerFK

In [ ]:
-- (3) Removing Foreign Key Constraint for Products in the Orders Table

use Argos_Adventurers

Alter Table orders
Drop Constraint ProductFK

In [ ]:
-- (4) Removing Primary Key Constraint from the Customers Table

use Argos_Adventurers

Alter Table Customers
Drop Constraint PK__customer__A4AE64B871AC10F3

-- Remember that the KEY NAME (PK__customer__A4AE64B871AC10F3) might change when you create
-- Yours in Azure Data Studio. So use the RIGHT Primary Key name

In [ ]:
-- (5) Removing Primary Key Constraint from the Products Table

use Argos_Adventurers

Alter Table Products
Drop Constraint PK__products__3214EC07FBB72E35

-- Remember that the KEY NAME (PK__products__3214EC07FBB72E35) might change when you create
-- Yours in Azure Data Studio. So use the RIGHT Primary Key name

In [ ]:
-- (6) Removing the CHECK Constraint in the Price column in Products table

use Argos_Adventurers

Alter Table Products
Drop Constraint CK__products__Price__4AB81AF0

-- Remember that the KEY NAME (CK__products__Price__4AB81AF0) might change when you create
-- Yours in Azure Data Studio. So use the RIGHT Constraint name

In [ ]:
-- (7) Removing the Primary Key constraint in the Orders Table

use Argos_Adventurers

Alter table Orders
Drop Constraint PK__orders__C39F40174CD494A9

-- Remember that the KEY NAME (PK__orders__C39F40174CD494A9) might change when you create
-- Yours in Azure Data Studio. So use the RIGHT Primary Key name

In [ ]:
-- (8) Removing the UNIQUE constraint for the Orders Table

use Argos_Adventurers

Alter Table Orders
Drop Constraint Unique_i

In [ ]:
-- (9) Removing the CHECK constraint for the TotalAmount Column in the Orders Table

use Argos_Adventurers

Alter Table Orders
Drop Constraint check_i

## 

- **Adding a constraint to a column**

In [ ]:
-- (1) Adding a CHECK CONSTRAINT to the Age Column in Customers Table

use Argos_Adventurers

Alter table Customers
Add Constraint Check_i Check(Age > 10 and Age < 100)

In [ ]:
-- (2) Adding a CHECK CONSTRAINT to the TotalAmount Column in Orders Table

use Argos_Adventurers

Alter table Orders
Add Constraint Check_i Check(TotalAmount > 10)

In [ ]:
-- (3) Adding a UNIQUE CONSTRAINT to the Primary Key in Orders Table

use Argos_Adventurers

Alter Table Orders
Add Constraint Unique_i Unique(Orderid)

In [ ]:
-- (4) 

use Argos_Adventurers

Alter Table Customers
Add Constraint PrimaryKey Primary Key(CustomerID)

In [ ]:
-- (5) 

use Argos_Adventurers

Alter Table Products
Add Constraint PrimaryKey Primary Key(id)

In [ ]:
-- (6) 

use Argos_Adventurers

Alter Table Orders
Add Constraint PrimaryKey Primary Key(Orderid)

In [ ]:
-- (7) 

use Argos_Adventurers

Alter Table Orders
Add Constraint ForeignKeyCustomers Foreign Key(idCus) References Customers(CustomerID)

In [ ]:
-- (8)

use Argos_Adventurers

Alter Table Orders
Add Constraint ForeignKeyProducts Foreign Key(Productid) References Products(id)

In [ ]:
-- (9)

use Argos_Adventurers

Alter table Products
Add Constraint Check_i Check(Price > 10)

In [ ]:
-- NOTE: This code block won't work or will give an error.
-- To fix this, Go to the adding a column section and run code block 2 first before coming back here to run this.

-- (10) Adding a DEFAULT constraint to the QUALITY column in the Products Table.

use Argos_Adventurers

 Alter Table Products
 Add Constraint DefaultValue DEFAULT 'Average' FOR Quality

- **Changing the data type of a column**

In [ ]:
-- (1)
use Argos_Adventurers

Alter table Orders
Alter Column TotalAmount Decimal(7, 2) NOT NULL

In [ ]:
-- (2)
use Argos_Adventurers

Alter table Orders
Alter Column Quantity INTEGER NOT NULL

In [ ]:
-- (3)
use Argos_Adventurers

Alter table Customers
Alter Column PhoneNumber VARCHAR(11) NOT NULL

- **Removing a column**

In [ ]:
-- (1)

use Argos_Adventurers

Alter Table Customers
Drop Column Name

-- ADD THE COLUMN BACK TO THE TABLE BY REMOVING THE COMMENTS BELOW
-- Alter Table Customers
-- Add Name VARCHAR(100) NOT NULL

In [ ]:
-- (2)

use Argos_Adventurers

Alter Table Products
Drop Column Price

-- ADD THE COLUMN BACK TO THE TABLE BY REMOVING THE COMMENTS BELOW
-- Alter Table Products
-- Add Price DECIMAL(5, 2) NOT NULL

In [ ]:
-- (3)

use Argos_Adventurers

Alter Table Customers
Drop Column PhoneNumber

-- ADD THE COLUMN BACK TO THE TABLE BY REMOVING THE COMMENTS BELOW
-- Alter Table Customers
-- Add PhoneNumber VARCHAR(11) NOT NULL

- **Adding a column**

In [ ]:
-- (1) Adding a Column called STATUS in the Customers Table with a DEFAULT Value HAPPY

use Argos_Adventurers

Alter Table Customers
Add Status VARCHAR(100) DEFAULT 'Happy' 

-- We had an ERROR here in class when we were trying to set the DEFAULT to happy. 
-- This is simply because in SQL SERVER, we don't use DOUBLE QUOTE ("") when creating any CATEGORICAL DATA.
-- We are expected to ALWAYS use the SINGLE QUOTE ('')

-- EXAMPLE:
-- (a) Don't do this -----> "Man"
-- (b) Do this -----------> 'Man'

In [ ]:
-- (2) Adding a Column called QUALITY to the Products Table

use Argos_Adventurers

Alter Table Products
Add Quality VARCHAR(50)